html {
    font-size: 10px;
    font-family: sans-serif;
    background-image: url('./assets/images/background.jpg');
    background-size: cover;
}

body {
    padding: 0px;
    margin: 0px;
}

.keys-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    width: 7rem;
    border: .5rem solid black;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem .5rem;
    margin: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px black;
    transition: all .07s ease;
}

.key .sound {
    color: yellow;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.key kbd {
    display: block;
    font-size: 4rem;
}

.playing {
    transform: scale(1, 1);
    border-color: yellow;
    box-shadow: 0 0 1rem yellow;
}