html {
    font-size: 10px;
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
}

body {
    padding: 0px;
    margin: 0px;
}

.main-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    margin: 2rem;
    border: 2rem solid white;
    border-radius: 50%;
    position: relative;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 40%;
    height: .6rem;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .05s;
    transition-timing-function: cubic-bezier(.1, 2.7, .58, 1);
}

.seconds-hand {
    width: 46%;
    background-color: red;
    height: .3rem;
    border-radius: 50% 25% 25% 50%;
    border-left: 1rem solid red;
    z-index: 2;
}

.minutes-hand {
    width: 45%;
    border-radius: 1rem;
}

.hours-hand {
    width: 35%;
    height: .2rem;
    background-color: white;
    border-radius: 1rem;
    border: .5rem solid black;
}

.center-circle {
    width: 2rem;
    height: 2rem;
    background-color: red;
    position: absolute;
    top: 45.5%;
    left: 45%;
    border-radius: 50%;
    border: .5rem solid black;
    z-index: 1;
}