:root {
    --base-color: #ffff00;
    --blur: 10px;
    --spacing: 10px;
    font-size: 10px;
    font-family: sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    font-size: 5rem;
    font-weight: bold;
}

.controls {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-around;
}

.control {
    padding: 1rem;
    margin: 1rem;
    font-size: 3rem;
}

.control input {
    width: 10rem;
}

.js {
    color: var(--base-color);
}

img {
    max-width: calc(90vw - (var(--spacing) * 2));
    padding: var(--spacing);
    background-color: var(--base-color);
    filter: blur(var(--blur));
    border-radius: 2rem;
}